<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.m2m.atl.adt.launching.atlTransformation">
<stringAttribute key="ATL File Name" value="/TELCO2CAP/telco2cap.atl"/>
<stringAttribute key="ATL VM" value="EMF-specific VM"/>
<stringAttribute key="ATL_COMPILER" value="atl2006"/>
<booleanAttribute key="IS_REFINING" value="false"/>
<mapAttribute key="Input">
<mapEntry key="IN" value="Telco"/>
</mapAttribute>
<mapAttribute key="Libs"/>
<mapAttribute key="Model Handler">
<mapEntry key="CAP" value="EMF"/>
<mapEntry key="Telco" value="EMF"/>
</mapAttribute>
<mapAttribute key="ModelType">
<mapEntry key="CAP" value="METAMODELOUTPUT"/>
<mapEntry key="IN" value="MODELINPUT"/>
<mapEntry key="OUT" value="MODELOUTPUT"/>
<mapEntry key="Telco" value="METAMODELINPUT"/>
</mapAttribute>
<mapAttribute key="Options">
<mapEntry key="OPTION_CLEAR" value="false"/>
<mapEntry key="OPTION_CONTENT_TYPE" value="false"/>
<mapEntry key="OPTION_DERIVED" value="true"/>
<mapEntry key="allowInterModelReferences" value="false"/>
<mapEntry key="printExecutionTime" value="false"/>
<mapEntry key="step" value="false"/>
<mapEntry key="supportUML2Stereotypes" value="false"/>
</mapAttribute>
<listAttribute key="OrderedInput">
<listEntry value="IN"/>
</listAttribute>
<listAttribute key="OrderedOutput">
<listEntry value="OUT"/>
</listAttribute>
<mapAttribute key="Output">
<mapEntry key="OUT" value="CAP"/>
</mapAttribute>
<mapAttribute key="Path">
<mapEntry key="CAP" value="/TELCO2CAP/componentAllocation2.ecore"/>
<mapEntry key="IN" value="/TELCO2CAP/telco1.model"/>
<mapEntry key="OUT" value="/TELCO2CAP/cap1.model"/>
<mapEntry key="Telco" value="/TELCO2CAP/network_planning.ecore"/>
</mapAttribute>
<listAttribute key="Superimpose"/>
</launchConfiguration>
